.header_image{
    max-width: 100px;
    max-height: 100px;
}

.body_image1{
    max-width: 350px;
    max-height: 305px;
}

.info img{
    max-width: 200px;
    max-height: 200px;
}

.blue, .footer{
    background-color: #1F2937;
}

.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

li, .hero{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.bottom, .bottom button{
    background-color: #3882F6;
}

.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.center_grey{
   background-color: #E5E7EB; 
}

.inspiring{
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}