body{
    margin: 0;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_image{
    max-width: 100px;
    max-height: 100px;
}

.body_image1{
    max-width: 350px;
    max-height: 305px;
}

.info img{
    max-width: 200px;
    max-height: 200px;
    border: 5px solid #3882F6;
    border-radius: 5%;
}

.blue, .footer{
    background-color: #1F2937;
}

.blue{
    padding: 80px;
    Padding-top: 8px;
}

.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

li, .hero{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.left1 button{
    border: 0;
}
button{
    color: #E5E7EB;
    padding: 10px 30px;
    font-weight: 800;
    border-color: #E5E7EB;
    margin: 10px;
    border-radius: 10%;
}
.bottom, button{
    background-color: #3882F6;
}

.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.center_grey{
   background-color: #E5E7EB; 
}

.inspiring{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937
}

.header{
    display: flex;
    justify-content: space-between;
}

.header_image, .links{
    display: flex;
    gap: 20px;
}

.hero1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.left1{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: start;
    align-items: start;
}

.random{
    padding: 40px;
    /* margin: 32px; */
}

.middle_center{
    background-color: white;
    margin: 0;
}

.center_image{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.info{
    max-width: 200px;
}

.center_grey{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 120px;
    align-items: center;
}

.thor{
    align-self: flex-end;
    font-weight: 800;
    margin-right: 100px;
}

.inspiring{
    max-width: 700px;
    align-self: center;
    /* margin-left: auto; */
    text-align: left;
    font-weight: 100;
}

.center_bottom{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-radius: 5px;
    gap: 60px
}

.bottom_text{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #E5E7EB;
}

.action{
    font-weight: 800;
}

.product{
    font-size: smaller;
}

 .center_bottom button{
    padding: 5px 30px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #E5E7EB;
 }

 .footer{
    padding: 20px;
    color: #E5E7EB;
 }