body{
    margin: 0;
    text-align: center;
}

.header_image{
    max-width: 100px;
    max-height: 100px;
}

.body_image1{
    max-width: 350px;
    max-height: 305px;
}

.info img{
    max-width: 200px;
    max-height: 200px;
}

.blue, .footer{
    background-color: #1F2937;
}

.blue{
    padding: 80px;
    Padding-top: 8px;
    border;: 0
}

.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

li, .hero{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

button{
    color: #E5E7EB;
    padding: 10px;
    font-weight: 800;
}
.bottom, button{
    background-color: #3882F6;
}

.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.center_grey{
   background-color: #E5E7EB; 
}

.inspiring{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937
}

.header{
    display: flex;
    justify-content: space-between;
}

.header_image, .links{
    display: flex;
    align-items: center;
}

.hero1{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left1{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: start;
    align-items: start;
}

.random{
    margin: 32px;
}

.center_image{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.info{
    max-width: 200px;
}